<mat-toolbar color="primary">
    
    <a mat-button mat-button-base href="/" routerlink="['/']" [disabled]="deshabilitarTurnos">
        <mat-icon>calendar_month</mat-icon>
        &nbsp;
        <span mat-button-wrapper>Nuevo turno</span></a>
    
    <span class="example-spacer"></span>
    <a mat-button mat-button-base href="/mi-turno" routerlink="['/mi-turno']">
        <mat-icon>description</mat-icon>
        &nbsp;
        <span mat-button-wrapper>Mi turno</span></a>
    
  </mat-toolbar>
