
  .horarios-card{
    width: 80%;
  }

.nested-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);   
    gap: 2em;
    justify-items: center;
  }

  .itemFecha{
    grid-column: 1/4;
   
  }

  .leyendas{
   grid-column: 1/2;
  }


  .footer-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  
    margin-top: 5%;
    justify-items: center;
   
  }

  .horario-selected{
    background: blue;
    color: white;

  }

  @media screen and (max-width:768px){
       
    .nested-grid{
      grid-template-columns: repeat(2,1fr); 
    }

    .itemFecha{
      grid-column: 1/3;
     
    }
         }


  