
  .horarios-card{
    width: 80%;
  }

.nested-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1em;
    justify-items: center;
    
    
  }

  .item1{
    grid-column: 1/4;
   
  }


  