
<div class="contenedor">

  <div class="item-calendar">
    <mat-card>
     <mat-card-title>Agenda</mat-card-title>
      <mat-calendar [(selected)]="selected" [minDate]="minDate" [maxDate]="maxDate"></mat-calendar>
    </mat-card>    
  </div>

  <div class="item-horario">
      <app-horarios [horariosDisponibles]="horariosDisponibles" [fechaSeleccionada]="selected" (seleccionHorarioEvent)="onSeleccionarHorario($event)"></app-horarios>
    </div>

  <div class="item-formulario">
    <app-formulario-reserva  [fechaReserva]="selected" [horarioReserva]="horarioSeleccionado"></app-formulario-reserva>
  </div>


</div>















