

.calendar-card {
  width: 300px;
}

.grid-container {
  margin-top: 5%;  
  margin-left: 10%;
  display: grid;
  grid-template-columns: 30% 1fr;
  
}

.item2{
  display: grid;
  grid-template-rows: 70px auto;
}






