
<div class="grid-container">

  <div class="item1">
    <mat-card class="calendar-card ">
      <mat-calendar [(selected)]="selected" [minDate]="minDate" [maxDate]="maxDate"></mat-calendar>
    </mat-card>    
  </div>

  <div class="item2">
    <div>
      <h3>{{selected |fecha}}</h3>
    </div>

    <div>
      <app-horarios [horariosDisponibles]="horariosDisponibles" (seleccionHorarioEvent)="onSeleccionarHorario($event)"></app-horarios>
    </div>

  </div>

  

  <div class="item3">
    <app-formulario-reserva *ngIf="horarioSeleccionado" [fechaReserva]="selected" [horarioReserva]="horarioSeleccionado"></app-formulario-reserva>
  </div>


</div>















