.form-container{
    display: grid;
    margin-top: 30px;
     grid-gap: 20px;
     grid-template-columns: 1fr 1fr;
     
     grid-template-areas: "busqueda action";
}

.busqueda-item{
grid-area: busqueda;

}

.action-item{
    grid-area: action;
    
    }



    @media screen and (max-width:768px){
       
        .form-container{  grid-template-areas: "busqueda" 
                                               "action";}
    }