
 <mat-card >
<mat-card-title>Reserva</mat-card-title>

<div class="reserva-nested-grid">

  <div class="item-fecha">
    Fecha: {{fechaReserva | fecha}} 
  </div>
  <div class="item-horario">
    Horario: {{horarioReserva?.horario}}
  </div>
  
  <div class="item-form">
    <form [formGroup]="reservasForm" novalidate (ngSubmit)="onSubmit($event)" class="form-nested-grid">
      <ng-container formArrayName="titularReserva">
        <ng-container *ngFor="let titular of titularReservaField.controls; let i=index;">
          <ng-container [formGroupName]="i">


   
      <div class="icon-person"> <mat-icon class="person-icon">person</mat-icon></div>
      <div class="elem-form"><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre y apellido</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field></div>
      <div class="elem-form">
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="dni">
      </mat-form-field></div>

      <div class="elem-form">
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="reserva@example.com" formControlName="email">
      </mat-form-field></div>
    


          </ng-container>


        </ng-container>
      </ng-container>

      <ng-container formArrayName="adicionalesReserva">
        <ng-container *ngFor="let adicional of adicionalesReservaField.controls; let i=index;">
          <ng-container [formGroupName]="i">


   
      <div class="icon-person"> <mat-icon class="person-icon">person</mat-icon></div>
      <div class="elem-form"><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field></div>
      <div class="elem-form">
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="dni">
      </mat-form-field></div>
      <div class="elem-form icon-trash"> <mat-icon class="delete-btn" (click)="deleteAdicionalReserva(i)">
        delete_forever</mat-icon></div>

    


          </ng-container>



        </ng-container>
      </ng-container>

      <div class="icon-add">
      <button type="button" mat-mini-fab (click)="addAdicionalReserva()" title="Agregar reserva">
        <mat-icon class="add-reserva-btn">add</mat-icon>
    </button>
      </div>
      <div class="icon-commit">
      <button type="submit" mat-raised-button color="primary" [disabled]="reservasForm.invalid"  >Reservar</button>
    </div>
    </form>
  </div>

  

</div>
 </mat-card >

